---
interface Props {
  title: string;
  description: string;
  instagram: string;
  image: string;
}

const { title, description, instagram, image } = Astro.props;
---

<div class="max-w-sm border rounded-lg shadow bg-gray-900 border-gray-700">
  <a href={instagram}>
    <img class="rounded-t-lg" src={image} alt="" />
  </a>
  <div class="p-4">
    <a href={instagram}>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
        {title}
      </h5>
    </a>
    <p class="mb-3 font-normal text-pretty text-gray-400">
      {description}
    </p>
  </div>
</div>
